*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}
.container{
    width: 600px;
    height: 100%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
}

.card{
    width: 150px;
    height: 150px;
    margin: 0 10px 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardOne{
    background-color: aqua;
}
.cardTwo{
    background-color: red;
}
.cardThree{
    background-color: green;
}
.cardFour{
    background-color: yellow;
}
.cardFive{
    background-color: pink;
}
.cardSix{
    background-color: purple;
}
.cardSeven{
    background-color: brown;
}
.cardEight{
    background-color: black;
    color: white;
}
.cardNine{
    background-color: aquamarine;
}
.cardTen{
    background-color: coral;
}
.cardEleven{
    background-color: darkslateblue;
}
.cardTwelve{
    background-color: greenyellow;
}
.cardThirteen{
    background-color: magenta;
}
.cardFourteen{
    background-color: midnightblue;
}
.cardFifteen{
    background-color: lightgray;
}
.cardSixteen{
    background-color: sienna;
}
.count{
    width: 100vw;
    height: 50px;
    font-size: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.count div{
    margin-right: 20px;
}
.winner{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 40px;
    flex-direction: column;
}
.winner button{
    margin-top: 20px;
    padding: 7px 15px;
    border: none;
    cursor: pointer;
}
.winner button:hover{
    background-color: lightgray;
}
.loser{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 700px) {
    body{
        overflow-x: hidden;
    }
    .container{
        width: 500px;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (max-width: 540px){
    .container{
        width: 350px;
        grid-template-columns: repeat(2, 1fr);
    }
    .count{
        font-size: 25px;
    }
}
@media only screen and (max-width: 370px){
    body{
        overflow-x: hidden;
    }
    .container{
        width: 150px;
        grid-template-columns: repeat(1, 1fr);
    }
    .card{
        margin: 0 0 10px 0;
    }
    .count{
        font-size: 20px;
    }
}
@media only screen and (max-width: 300px){
    .count{
        font-size: 15px;
    }
}